<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EDUVERSA</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body
    style="
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f5f5f5;
      display: flex;
      justify-content: center;
    "
  >
    <div
      class="container"
      style="
        max-width: 600px;
        width: 600px;
        margin: 20px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        text-align: center;
      "
    >
      <h1 style="color: black; margin-block: 10px">EDUVERSA</h1>
      <p class="mail-subject" style="font-style: italic">
        Account Credentials are as follows:
      </p>

      <div
        class="info-section"
        style="
          margin-block-start: 10px;
          padding: 20px 10px;
          background-color: #007bff;
          border-radius: 15px;
          font-size: 20px;
          color: #ffffff;
          margin: 20px 0px;
        "
      >
        <p class="info-label" style="font-weight: bold">
          User Id: <span class="info-main">{{USER_ID}}</span>
        </p>
        <p class="info-label" style="font-weight: bold">
          Password: <span class="info-main">{{PASSWORD}}</span>
        </p>
      </div>

      <p class="note" style="margin-top: 0px;">
        Thank you for using our platform.
      </p>
      <p class="note" style="color: red; font-style: italic">
        Please consider changing your password after login.
      </p>

      <div>
        <p
          style="
            max-width: 400px;
            margin: 0 auto;
            margin-top: 50px;
            text-align: center;
            font-weight: 500;
            color: #8c8c8c;
          "
        >
          Need help? Ask at
          <a
            href="mailto:eduversa.developer@gmail.com"
            style="color: #499fb6; text-decoration: none"
            >eduversa.developer@gmail.com</a
          >
        </p>
        <p
          style="
            margin: 0;
            margin-top: 40px;
            font-size: 12px;
            font-weight: 600;
            color: #434343;
          "
        >
          Group Project 37 (Passout Batch : 2025)
        </p>
      </div>
    </div>


  </body>
</html>
